@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

:root{
  --primarywhite: #FFFFFF;
  --primarygray: rgba(255, 255, 255, 0.40);
  --darkgray: #7D827D;
  --darkergray:#3E413E; 
  --primaryblack: #252725;
  --fadedblack: #000000;
}

header{
  background-image: url(./images/Rectangle\ 50.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 620px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}

.overlay{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #070707;
  opacity: 0.5;
  z-index: 1;
}
/* navbar styling */
.navbar{
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-inline: 5rem;

}
.navbar h4{
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  color: var(--primarywhite);
  z-index: 2;
}
.navlist ul{
  display: flex;
  list-style: none;
  gap: 4rem;
  font-size: 12px;
  z-index: 2;
}
.navlist a{
  text-decoration: none;
  color: var(--primarygray);
  z-index: 2;
}
.navbar button{
  padding-inline: 30px;
  padding-block: 10px;
  margin-right: 1rem;
  background-color: #7D827D;
  color: var(--primarywhite);
  font-size: 10px;
  border: none;
  border-radius: 2px;
  z-index: 2;
}
/* hero styling */
.hero{
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  
}
.hero h3{
  font-size: 100px;
  letter-spacing: 4.8px;
  font-weight: 400;
  color: white;
  z-index: 2;
}
.hero p{
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 20px;
  z-index: 2;
}
/* body styling */

.sortby{
  display: flex;
  justify-content: right;
  gap: 2rem;
  margin-right: 4rem;
  margin-top: 2rem;
}
.sortby div{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.sortby img{
  height: 12px;
}
.sortby p{
  font-size: 12px;
  color: #252725;
}
.contdiv{
  display: flex;
  justify-content: space-evenly;
  padding-inline: rem;
  margin-inline: 3rem;
  gap: 3rem;
  margin-bottom:;
}
.image{
  display: flex;
  gap: 1rem;
  margin-right: rem;
  margin-bottom: 3rem;
}
.image p{
  font-size: 13px;
  color:#252725; ;
}

.category h4{
  color:#7D827D;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-bottom: 1rem;
}
.imgflex{
  display: flex;
  gap: 0.5rem;
}
.imgflex img{
  height: 21px;
}
.sofas{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.sofas p{
  font-size: 18px;
  font-weight: 500;
  color: #4e504e;
}
.list1{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-left: 3rem;
}
.list1 p{
  font-size: 12px;
  font-weight: 300;

}
.access{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #d6d3d3;
}
.access p{
  color:#050505;
  font-size: 16px;
  font-weight: 500;
}

.sidebar{
  width: 200px;
  margin-right: 2rem;
}
.maindiv{
  margin-top: 2rem;
}

.filterby{
  display: flex;
  margin-top: 2.4rem;
}
.filterby h4{
  color:#7D827D;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-bottom: 1rem;
}
.filter{
  display: flex;
  justify-content: space-between;
  gap: 7rem;
}
.filter p{
  font-size: 14px;
  font-weight: 500;
}
.filter img{
  height: 12px;
}

.pages{
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.pages img{
  height: 14px;
}
.pages p{
  color: #252725;
  font-size: 12px;
}
/* .maindiv{
  
} */
/* .icon{
  display: flex;
  gap: 2rem; */
  

/* .imagecont{
  display: flex;

}
.image{
  display: flex;
}  */

 


















/* footer */
footer{
  height: 300px;
  background-color: var(--darkergray)
}
.footer{
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  color: var(--primarywhite);
  padding-top: 6rem;
}
.voyage{
  width: 150px;
}

.voyage p{
  color: #B4B7B4;
  letter-spacing: 1.2px; 
  margin-bottom: 0.5rem;
}
.voyage h4{
  font-size: 20px;
  font-weight: 200;
}
.company{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.company h4, .mail h4{
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.company p{
  color: #b8b3b3;
  font-weight: 100;
}
.mail{
  width: 250px;
}
.mail p{
  font-weight: 200;
  color: #b8b3b3;
}
.mail2{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}